@charset "utf-8";

.box1 {
    width: 945px;
    height: 370px;
    
    /* 長いバージョン */
    color:white;
    background: bisque;
    background-image: url("../img/01.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    /* 短いバージョン */
    background:url("../img/01.jpg") no-report center center;
    background-size:cover;

    /* 上下0　左右がauto */
    margin:0 auto;
}
p {
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    padding-top: 100px;
}
.box2 {
    width: 945px;
    height: 370px;
    
    /* 長いバージョン */
    color:white;
    background: bisque;
    background-image: url("../img/02.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    /* 上下0　左右がauto */
    margin:0 auto;
}
p.text1{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    padding-top: 0px;
}

p.text2{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    padding-top: 0px;
}
